@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,700&display=swap');
body {
    font-family: 'Lato', sans-serif;
}


/* screen reader class, maybe from bootstrap */

.sr-only {
    display: none;
}

button {
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    flex: 1;
    cursor: pointer;
}

.test_class {
    color: orange;
}